html, body{
	font-size: 16px;
	font-family: helvetica, arial, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	font-size: 62.5%;
	min-width: 440px;
}
header{
	width: 100%;
	height: 3em;
	margin-bottom: 20px;
	position: fixed;
	top:0;
	background-color: rgba(255,255,255,.5);
}
nav h1{
	font-size: 1.27em;
	padding: 0;
	margin: 0;
	text-align: left;

}

h2{
	font-size: 2em;
	text-align: right;
	padding-right: .25em;
	position: relative;
}
h3{
	font-size: 1.75em;
}
h4{
	font-size: 1.5em;
}
p{
	font-size: 1.5em;
}

nav ul{
	list-style: none;
	float:left;
	width: 5.5em;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
a, a:visited{
	text-decoration: none;
	color:black;
}
a:hover {
	color: gray;
   -webkit-text-fill-color: gray;
   -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: black;
}
#content{
	height: auto;
	width: 100%;
}

#hamburger{
	width: 4em;
	height: 3em;
}
.description{
	float: right;
	width: 40%;
	height: 85%;
	margin-top: 5em;
	padding: .5em;
	position: relative;
	background-color: rgba(255,255,255,.85);
	z-index: 1;
}
.project, footer{
	width: 100%;
	height: 560px;
	margin-bottom: 1em;
	border: 2px solid gray;
	background-color: rgba(0,0,0,.25);
	z-index: -1;
	-webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
#BA{
	background-image: url(../img/BA_background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#SOCI{
	background-image: url(../img/SOCI_background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#HDOC{
	background-image: url(../img/HDOC_background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#GH{
	background-image: url(../img/GH_background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#LR{
	background-image: url(../img/LR_background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#TS{
	background-image: url(../img/TS_background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#bio, #contact{
	width: 45%;
	float: left;
	padding: 2em;
}

#contact{
	text-align: right;
}
#instafeed{
	width: 100%;
	overflow: hidden;
}
#instafeed img{
	width: 18%;
	margin: 1em;
}
.nextButton{
	float: right;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 3em 0 3em 4em;
	border-color: transparent transparent transparent #caced1;
}
.prevButton{
	float: left;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 3em 4em 3em 0;
	border-color: transparent #caced1 transparent transparent;
}
.nextButton, .prevButton{
	position: relative;
	top: -30em;
	margin: 0 1em;
	background-color: transparent;
}
.slideshow{
	display: none;
}






